header, footer {
  background-color: #1dab4f !important;
  position: fixed;
  padding: 20px 0;
  box-sizing: border-box;
  color: #c4c3cf !important;
  width: 100%;
}

@mixin backgroundred {
  background-color: rgb(144, 187, 222);
  border: 1px solid rgb(82, 82, 198);
  font-size: 20px;
}


.layout_a {
  color: #5d43b9 !important;
  &:hover {
    text-decoration: underline;
    color: #b67dad !important;
    @include backgroundred
  }
}


header {
  top: 0;
}

footer {
  bottom: 0;
}

header img {
  width: 250px;
  display: block;
}

img {
  width: 100%;
}

.same-height {
  max-height: 154px;
  overflow: hidden;
}

.float {
  display: inline;
  max-width: 15%;
}