header, footer {
  background-color: #0b0a0b;
  position: fixed;
  padding: 20px 0;
  box-sizing: border-box;
  color: #875687 !important;
  width: 100%; }

.layout_a {
  color: #d8abab !important; }
  .layout_a:hover {
    text-decoration: underline;
    color: #a6d499 !important;
    background-color: rgb(107, 126, 145) !important;
    border: 1px solid blue;
    font-size: 20px; }

header {
  top: 0; }

footer {
  bottom: 0; }

header img {
  width: 250px;
  display: block; }

img {
  width: 100%; }

.same-height {
  max-height: 154px;
  overflow: hidden; }

.float {
  display: inline;
  max-width: 15%; }
